body {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
  
  margin: 4em 2em;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#000000;
  background-style:flat;
}

.tree {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.tree .name {
  text-transform: uppercase;
  font-weight: 600;
  margin: 2em;
}

.tree .bio p {
  font-weight: 300;
  margin: 2em;
}

.tree .links a {
  margin: 0.75em auto;
}

.tree .footer {
  margin: 2rem;
}

a.btn {
  background-color: #fff;
}
