body {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
  
  margin: 4em 2em;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#000000;
  background-style:flat;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  margin: 2em;
}

.links a {
  margin: 0.75em auto;
}

.footer {
  margin: 2rem;
}

a.btn {
  background-color: #fff;
}
